<h6 class="text-center mb-0">Seja Bem-vindo!</h6>
<p class="text-center text-muted">Entre por aqui</p>

<form [formGroup]="formLogin" class="px-0 px-md-1 px-lg-2 px-xl-3" (submit)="send()">

    <div class="alert alert-danger p-1 text-center" *ngIf="showErro">email ou senha incorreto!</div>

    <div class="form-group mt-3">
        <label for="email-login" class="mb-0"><i class="fa fa-envelope mr-1"></i>Email:</label>
        <valid-field [form]="formLogin" field="email">
            <input type="email" id="email-login" formControlName="email" class="form-control" placeholder="digite seu email">
        </valid-field>
    </div>

    <div class="form-group mt-2">
        <label for="password-login" class="mb-0"><i class="fa fa-key mr-1"></i>Senha:</label>
        <valid-field [form]="formLogin" field="password">
            <input type="password" id="password-login" formControlName="password" class="form-control" placeholder="digite sua senha">
        </valid-field>
    </div>

    <a href="#" class="my-3">Esqueci minha senha</a>

    <button [disabled]="formLogin.invalid" type="submit" class="btn btn-primary btn-block mt-3"><i class="fa fa-sign-in mr-1"></i>Entrar</button>

</form> 