<list-filter [totalPages]="totalPages" [currentPage]="currentPages" [options]="options"
    (eventPage)="onEventPage($event)" (eventSelectQuantity)="onEventSelectQuantity($event)"
    (eventSearch)="onEventSearch($event)"></list-filter>

<!--Cards-->
<div class="row my-4">

    <div class="col-12 col-md-6 col-lg-4 col-xl-3 mt-2" (click)="onEventClickCard(1)">
        <div class="card card-border" id="card-1">
            <div class="card-body">
                <div class="row align-items-center">
                    <div class="col-4 mr-2 aligm-item-center">
                        <h1 class="text-secondary text-center vertical-aligm-center" style="font-size: 5rem;"><i class="fa fa-bank"></i></h1>
                    </div>
                    <div class="col-7">

                        <h6 class="mb-0 mt-1">Nome:</h6>
                        <span>Teste</span>

                        <h6 class="mb-0 mt-3">Descricao:</h6>
                        <span class="d-block">Categoria para teste</span>

                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-12 col-md-6 col-lg-4 col-xl-3 mt-2" (click)="onEventClickCard(2)">
        <div class="card card-border" id="card-2">
            <div class="card-body">
                <div class="row align-items-center">
                    <div class="col-4 mr-2 aligm-item-center">
                        <h1 class="text-secondary text-center vertical-aligm-center" style="font-size: 5rem;"><i class="fa fa-bank"></i></h1>
                    </div>
                    <div class="col-7">

                        <h6 class="mb-0 mt-1">Nome:</h6>
                        <span>Teste</span>

                        <h6 class="mb-0 mt-3">Descricao:</h6>
                        <span class="d-block">Categoria para teste</span>

                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-12 col-md-6 col-lg-4 col-xl-3 mt-2" (click)="onEventClickCard(3)">
        <div class="card card-border" id="card-3">
            <div class="card-body">
                <div class="row align-items-center">
                    <div class="col-4 mr-2 aligm-item-center">
                        <h1 class="text-secondary text-center vertical-aligm-center" style="font-size: 5rem;"><i class="fa fa-bank"></i></h1>
                    </div>
                    <div class="col-7">

                        <h6 class="mb-0 mt-1">Nome:</h6>
                        <span>Teste</span>

                        <h6 class="mb-0 mt-3">Descricao:</h6>
                        <span class="d-block">Categoria para teste</span>

                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-12 col-md-6 col-lg-4 col-xl-3 mt-2" (click)="onEventClickCard(4)">
        <div class="card card-border" id="card-4">
            <div class="card-body">
                <div class="row align-items-center">
                    <div class="col-4 mr-2 aligm-item-center">
                        <h1 class="text-secondary text-center vertical-aligm-center" style="font-size: 5rem;"><i class="fa fa-bank"></i></h1>
                    </div>
                    <div class="col-7">

                        <h6 class="mb-0 mt-1">Nome:</h6>
                        <span>Teste</span>

                        <h6 class="mb-0 mt-3">Descricao:</h6>
                        <span class="d-block">Categoria para teste</span>

                    </div>
                </div>
            </div>
        </div>
    </div>

</div>