<ng-container *ngIf="totalElements > 0">

    <div class="my-0">
        <h6 class="mb-1">Legenda</h6>
        <p class="text-success mb-0 mr-3 d-inline"><i class="fa fa-square"></i><span class="text-dark"> Proventos</span></p>
        <p class="text-danger mb-0 d-inline"><i class="fa fa-square"></i><span class="text-dark"> Despesas</span></p>
    </div>

    <list-filter [showSearchByDate]="true" 
    [totalPages]="totalPages" 
    [currentPage]="currentPage" 
    [options]="options"
    (eventPage)="onEventPage($event)" 
    (eventSelectQuantity)="onEventSelectQuantity($event)" 
    (eventSearch)="onEventSearch($event)"
    (eventSearchByDate)="onEventSearchByDate($event)"></list-filter>
    
    <div class="table-responsive mt-5" *ngIf="entries.length > 0">
        
        <table class="table">
            <thead class="thead-light">
                <tr>
                    <th>Data</th>
                    <th>Nome</th>
                    <th>Descrição</th>
                    <th class="text-center">Valor</th>
                    <th class="text-center"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let entry of entries">
                    <td>{{entry.date | date:'dd/MM/yyyy'}}</td>
                    <td>{{entry.name}}</td>
                    <td>{{entry.description}}</td>
                    <td class="text-center">
                        <ng-container *ngIf="entry?.entryType == 0">+</ng-container>
                        <ng-container *ngIf="entry?.entryType == 1">-</ng-container>
                        {{entry?.value | currency: 'BRL'}}
                    </td>
                    <td class="text-center text-danger" 
                        [ngClass]="{'text-success':entry?.entryType == 0, 'text-danger': entry?.entryType == 1}">
                            <i class="fa fa-square"></i></td>
                </tr>
            </tbody>
        </table>
    </div>

    <p class="text-center text-muted mt-5" *ngIf="entries.length == 0">Nenhun resultado encontrado</p>

</ng-container>

<p class="text-center text-muted mt-5" *ngIf="totalElements <= 0">Nenhuma lançamento encontrado!</p>