<list-filter [showSearchByDate]="true"></list-filter>

<div class="table-responsive mt-5">
    
    <table class="table table-sm">
        <thead class="thead-light">
            <tr>
                <th class="text-center"></th>
                <th class="text-center">Valor</th>
                <th>Nome</th>
                <th>Descrição</th>
                <th>Data</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td class="text-center text-danger"><i class="fa fa-square"></i></td>
                <td class="text-center">- R$ 350,00</td>
                <td>Compras do Mês</td>
                <td>Compras de mantimentos básicos para casa</td>
                <td>12/01/2020</td>
            </tr>
            <tr>
                <td class="text-center text-success"><i class="fa fa-square"></i></td>
                <td class="text-center">+ R$ 1.200,00</td>
                <td>Pagamento do Sálario</td>
                <td>Parte do pagamento do estágio do BNDES</td>
                <td>10/01/2020</td>
            </tr>
            
        </tbody>
    </table>
</div>