<div class="container mb-4">

    <h5 class="text-center mt-4 mb-0">Sistema de Controle Financeiro</h5>
    <p class="text-center text-muted mb-5">Sistema simples, feito para você controlar melhor seus gastos</p>

    <div class="row justify-content-center">

        <div class="col-12 col-md-5 col-lg-4 px-md-3">
            <login></login>
        </div>

        <div class="col-12 col-md-7 col-lg-6 border-left mt-5 mt-md-0 px-md-3">
            <register></register>
        </div>

    </div>

</div>